@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
$primaryColor : #23272A;
body{
    margin: 0;
    padding: 0;
    background: $primaryColor;
    color: #fff;
    font-family:  'Roboto', sans-serif;
}
header{
    padding: 15px 0;
}
header h1{
    margin: 0;
    text-align: center;
}
#start{
    position: absolute;
    top: 35%;
    left: 50%;
    padding: 25px 35px;
    border-radius: 5px;
    background:  #7289DA;
    color: #fff;
    border: none;
    outline: none;
    transform: translateY(-50%);
    transform: translateX(-50%);
    cursor: pointer;
    font-size: 1.4em;
}
#container{
    background: #2C2F33;
     #textDisplayContainer{
        height: 70vh;
        padding: 10px 15px;
        overflow-y: auto;

        p{
            background: #7289DA;
            padding: 5px 17px;
            text-align: center;
            border-radius: 15px;
            margin: 25px 5px;
        }
            .right{
                margin-left: auto;
                width: 145px;
            }
            .left{
                margin-right: auto;
                width: 145px;
            }
            //scroll bar
            /* width */
            &::-webkit-scrollbar {
                width: 18px;
            }
            
            /* Track */
            &::-webkit-scrollbar-track {
                background: $primaryColor;
            }
            
            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: rgb(56, 62, 83);
                border-radius: 5px;

            }
            
            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                background: #7289DA;
            }
     }
     .inputs{
         margin: 5px 0;
         padding: 15px 0;
         display: flex;
         justify-content: center;
         width: 100%;
         background: #7289DA;
            input{
                width: 320px;
                border-radius: 5px;
                border: none;
                outline: none;
                padding: 5px 10px;
            }
     }
}

#talk,#speak{
    background: none;
    border: none;
    outline: none;
}
.micActive{
    color: red;
    pointer-events: none;
}